

h1{
    text-align: center;
}

.fiverr-wraper{
    width: 600px;
    margin: 100px auto;
}

.counter{
    font-size: 90px;
    text-align: center;
    font-weight: 900px;
   
}

.counter-wraper{
    height: 200px;
}



/*   Todo-App  */

.todo-wraper{
    margin: 100px auto;
    
}

.do-important{
    font-size: 20px;
    margin-left: 100px;
}

.close{
    color: red;
}



/*   Age calculator   */


#age-btn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  

   
}

#footer{
    font-size: 20px;
}


/*   Team member with LS     */

.card-body{
    clear: both;
}
 #add-btn{
  float:right;


}

.member-add-box{
    display: none;
}
.t-card{
    height: 750px;
  
}

.member-add-box{
 background-color: rgb(223, 124, 226);
}

.t-body{
    background-color: rgb(63, 150, 153);
}



/* Product Add With Ls */


.product-add-box{
    display: none;
    background-color: rgb(159, 72, 240);
}



.p-card{
    height: 450px;
    background-color: rgb(208, 231, 208);
}

.sale-price{
    margin-left: 10px;
}

.regular-price{
    text-decoration: line-through;
}